@{
    ViewBag.Title = "Demo Page";
}

<div class="jumbotron">
    <h1>Wired.Caching Mvc Demo</h1>
    <p class="lead">A brief demonstration on how to use caching in an MVC project</p>
</div>

<ul>
    <li>@Html.ActionLink("Injection Demo", "InjectionDemo")</li>
    <li>@Html.ActionLink("Attribute Demo", "AttributeDemo2", new { id = "id1", someOtherParameter = "sop1" })</li>
</ul>