@{
    ViewBag.Title = "Demo Page";
}

<div class="jumbotron">
    <h1>Wired.Caching Injection Demo</h1>
    <p class="lead">A brief demonstration on how to use caching in an MVC project. Reload the page to see the second run is much faster.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Site Content Below:</h2>
        <div>
            <textarea id="site-content">@ViewBag.SiteContent</textarea>
        </div>
    </div>
</div>